{% extends '_admin_template.html.twig' %}

{% block title %}Modifier l'assureur'{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Modifier l'assureur' : {{ assureur.nom }}</h1>

        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-third">
                {% include 'includes/flashes.html.twig' %}
                {% include 'admin_assureur/_assureur_form.html.twig' %}
            </div>
        <div class="column"></div>
    </div>

{% endblock %}