
{% extends "_template.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container is-fullhd">
            <h1 class="title">Les nouveaux produits</h1>
            {# inclusion de fichier & passage de variables #}
            {% include "includes/produit_list.html.twig" with {produits:list_produits} %}
        </div>
    </div>
{% endblock %}