{% extends "_template.html.twig" %}

{% block title %}
    Mentions légales
{% endblock %}

{% block content %}
    <div class="section px-0 py-3">
        <div class="container pt-5 has-background-info-light">
            <h1 class="title">Mentions légales</h1>
            <h2 class="title is-size-4 mt-3">Identification</h2>
            <div class="content">
               <ul>
                   <li>Nom et prénom : Bogdan RADOI</li>
                   <li>Adresse de domicile : Ivry sur Seine, 94200 </li>
                   <li>Numéro de téléphone : 07 78 20 46 24</li>
                   <li>Nom du directeur: Bogdan RADOI</li>
               </ul>
            </div>
            <h2 class="title is-size-4 mt-3">Activité</h2>
            <p>Le site Assum.fr est un service de presse en ligne reconnu par la Commission paritaire des publications et agence de presse (instance paritaire de l'administration de l'Etat et des professionnels de la presse)</p>
            <h2 class="title is-size-4 mt-3">Cookies (fonctionnement et durée de validité)</h2>
            <p>
                Les cookies présents sur le site expert-assum.fr ont juste un caractère fonctionnel et pas de caractère commercial. <br>
                Assum utilise les cookies Google Analytics à des fins statisques et ont une durée de validité d'un an. <br>
                L’internaute est informé lors de sa première visite sur le site des cookies qui peuvent être nécessaires à la navigation. Celui-ci peut à tout moment les modifier en cliquant sur l'image en bas à droite de son écran.<br>
                Un cookie est un ensemble de données qui ne permet pas d’identifier directement les internautes mais qui sert à enregistrer des informations relatives à la navigation de celui-ci sur le site. <br>
                L'internaute peut également utiliser le paramétrage de son logiciel de navigation pour refuser les cookies de la manière décrite dans la documentation du navigateur ou sur le site de la Cnil. <br>
            </p>
            <h2 class="title is-size-4 mt-3">Informations hébergeur</h2>
            <p>
                L’hébergement de ce site est également assuré par SCALEWAY <br>
                Hébergeur : SCALEWAY SAS BP 438 75366 PARIS CEDEX 08 FRANCE <br>
                SIREN : 433 115 904 RCS Paris <br>
                Siège social : 8 rue de la Ville l’Evêque, 75008 Paris <br>
                Courrier : SCALEWAY SAS BP 438 75366 PARIS CEDEX 08 FRANCE <br>
                Téléphone : +33 (0)1 84 13 00 00 <br>
            </p>
            <h2 class="title is-size-4 mt-3">Publicité</h2>
            <p>Le site Assum.fr est indépendant et n’est en aucun cas l’émanation d’un quelconque établissement bancaire ou financier. La présence d'un annonceur sur le site ne veut pas dire que les offres ou produits sont recommandés par le site.</p>

            <h2 class="title is-size-4 mt-3">L'utilisation de données personnelles</h2>
            <p>
                L'utilisateur à le droit d'opposition, d'interrogation, d'accès et de rectification de vos données personnelles. <br>
                Auncun transfert de données à caractère personnel n'est envisagé ou traitement de données.<br>
                Vous avez le droit d'introduire une réclamation (plainte) auprès de la Cnil si vos droits ne sont pas respectés.
            </p>
            <div class="content">
                <ul>
                    <li>Point de contact sur les questions de protection des données personnelles : <a href="{{ path('nous_contacter') }}"> nous contacter</a> </li>
                    <li>Finalité poursuivie par le traitement auquel les données sont destinées : création de compte d'utilisateur pour donner son avis </li>
                    <li>Numéro de téléphone : 07 78  20 46 24</li>
                    <li>Nom du directeur: Bogdan RADOI</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


