{% extends "_template.html.twig" %}

{% block title %}
    Qui sommes nous
{% endblock %}

{% block content %}
    <div class="section px-0 py-3">
        <div class="container pt-5 has-background-info-light">
            <h1 class="title">Qui sommes nous ?</h1>
            <h2 class="title is-size-4">L'objectif du site</h2>
            <p> Le site Assum est une plateforme d’assurance-vie qui analyse les produits disponibles sur le marché conformément à différents types de critères (éthique, profitabilité, développement durable). <br>
                En même temps le site contient beaucoup d’informations théorique sur le sujet à travers les divers articles crées.
            </p>
            <h2 class="title is-size-4 mt-3">Le site s’adresse:</h2>
            <div class="content">
                <ul>
                    <li>aux personnes qui ont un capital à investir mais qui se sentent un peu perdus à cause des nombreux produits d'assurance-vie disponibles</li>
                    <li>aux personnes qui ont déjà un produit d’assurance-vie et qui veulent rester au courant des actualités</li>
                </ul>
            </div>
            <p>Par ailleurs, le but du site est aussi de créer un communauté soudée d’utilisateurs via le forum. </p>
            <h2 class="title is-size-4 mt-3">   Ce que vous allez trouver sur Assum</h2>
            <div class="content">
                <ol type="a">
                    <li>analyses techniques faites par nos experts avec un niveau élevé d’impartialité et de transparence</li>
                    <li>les détails (frais de gestion, taux de participation aux bénéfice etc.) des derniers produits d'assurance vie présents sur le marché financier</li>
                    <li>des avis d'utilisateurs</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
