{{ form_start(categorieForm) }}
    {{ form_row(categorieForm.nom,{
        label : 'Catégorie d\'investissement du produit'
    }) }}
<button type="submit" class="button is-success is-fullwidth">
    Enregistrer
</button>
{{ form_end(categorieForm) }}