{% extends '_admin_template.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Nouvelle Catégorie</h1>
        <div class="columns">
        <div class="column"></div>
            <div class="column is-one-third">
                {% include 'admin_categorie/_categorie_form.html.twig' %}
            </div>
        <div class="column"></div>

        </div>
    </div>
{% endblock %}