{% extends '_template.html.twig' %}

{% block title %}Suppréssion de compte{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Suppréssion de compte</h1>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-half">
                {{ form_start(deleteForm) }}
                    {{ form_row(deleteForm.confirmation, {
                        label : 'Je confirme la suppréssion de mon compte.'
                    }) }}
                <button type="submit" class="button is-fullwidth is-danger">Supprimer</button>
                {{ form_end(deleteForm) }}
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}



