// Importer FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Personnalisation & import de Bulma
$primary                  : #0219A1;
$light                    : #a8b2ea;
$table-cell-padding       : 0.2em 0;
$footer-background-color  : #a8b2ea;
$footer-padding           : 3rem 1.5rem 3rem ;

@import "~bulma";

.liste-produits-admin {
  font-size: 0.9em;
}

.fixed_width_commentaire {
  width: 40vw;
}

.is-anim {
  //-webkit-animation-name: cssAnimation;
  //-webkit-animation-duration:3s !important;
  //-webkit-animation-iteration-count: 1;
  //-webkit-animation-timing-function: ease;
  //-webkit-animation-fill-mode: forwards;
  transition: width 2s, height 4s;
}
//@-webkit-keyframes cssAnimation {
//  from {
//    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
//  }
//  to {
//    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
//  }
//}

.show {
  opacity: 1;
  transition: opacity 2s;
}
.hide {
  opacity: 0;
  transition: opacity 2s;
}

// ###### MARKDOWN ARTICLE ###### //
.markdown_bulma {
  h1,h2,h3,h4,h5,h6 {
    font-size: revert;
    font-weight: 600;
  }

  p {
    padding: 5px 0;
    text-align: justify;
    text-justify: inter-word
  }

  blockquote {
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;
    padding: 1.25em 1.5em;
  }

  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
  }

  ol {
    margin-left: 2em;
  }

  hr {
    height: 3px;
    background-image: linear-gradient(90deg, blue, transparent);
    border: 0;
  }

  code {
    background-color: #f5f5f5;
    color: #302d2d;
    font-size: 0.875em;
    font-weight: 700;
    padding: 0.25em 0.5em 0.25em;
  }
}



