// Importer FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Personnalisation & import de Bulma
$primary                  : #0219A1;
$light                    : #a8b2ea;
$table-cell-padding       : 0.2em 0;
$footer-background-color  : #a8b2ea;
$footer-padding           : 3rem 1.5rem 3rem ;

@import "~bulma";

.liste-produits-admin {
  font-size: 0.9em;
}

//.affichage-page.section {
//  padding: 0;
//}