{% extends '_admin_template.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Nouveau produit</h1>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-third">
                {% include 'admin_produit/_produit_form.html.twig' %}
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}