{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <spacer size="16"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">Ça marche !</h1>

                <center>
                    <menu class="text-center">
                        <item href="https://symfony.com/">Symfony</item>
                        <item href="https://symfony.com/doc/current/mailer.html">Mailer</item>
                        <item href="https://symfony.com/doc/current/components/messenger.html">Messenger</item>
                        <item href="https://twig.symfony.com/">Twig</item>
                    </menu>
                </center>

            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>
                <spacer size="32"></spacer>
                <center>
                    <img src="https://media.giphy.com/media/QpOZPQQ2wbjOM/giphy.gif">
                </center>
                <spacer size="16"></spacer>

                <h4>Le message suivant a été envoyé avec une application de démonstration de Symfony Mailer:</h4>
                <p>{{ message }}</p>

                <center>
                    <menu>
                        <item href="https://aymdev.io/">Aymeric Mayeux</item>
                        <item href="https://github.com/AymDev">GitHub</item>
                        <item href="https://stackoverflow.com/users/6349751/aymdev">StackOverflow</item>
                        <item href="https://hub.docker.com/u/aymdev">Docker Hub</item>
                    </menu>
                </center>
            </columns>
        </row>
        <spacer size="16"></spacer>
    </container>
{% endapply %}