{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <spacer size="8"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">Réinitialisation du mot de passe</h1>
            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>
                <spacer size="8"></spacer>
                <h4>Bonjour,</h4>
                <p>Vous avez demandé la réinitialisation du mot de passe pour le site Assum. <br>
                    Veuillez cliquer sur le lien ci-dessous pour le réinitialiser.</p>
                <p><a href="{{ url }}">Réinitialiser mon mot de passe</a></p>
                <p>
                    Cordialement, <br>
                    L'équipe <a href="{{ absolute_url(path('home')) }}">Assum</a>
                </p>
            </columns>
        </row>
        <spacer size="8"></spacer>
    </container>
{% endapply %}