{{ form_start(gestionForm) }}
    {{ form_row(gestionForm.nom,{
        label : 'Gestion'
    }) }}
<button type="submit" class="button is-success is-fullwidth">
    Enregistrer
</button>
{{ form_end(gestionForm) }}