{{ form_start(categorie_ucForm) }}
    {{ form_row(categorie_ucForm.nom,{
        label : 'Catégorie UC du produit'
    }) }}
<button type="submit" class="button is-success is-fullwidth">
    Enregistrer
</button>
{{ form_end(categorie_ucForm) }}