{% extends '_admin_template.html.twig' %}

{% block title %}Nouvelle Catégorie UC{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Nouvelle Catégorie UC</h1>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-third">
                {% include 'admin_categorie_uc/_categorie_uc_form.html.twig' %}
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}