{% extends '_admin_template.html.twig' %}

{% block title %}Modifier la catégorie UC{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Modifier la catégorie UC : {{ categorie_uc.nom }}</h1>

        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-third">
                {% include 'includes/flashes.html.twig' %}
                {% include 'admin_categorie_uc/_categorie_uc_form.html.twig' %}
            </div>
        <div class="column"></div>
    </div>

{% endblock %}