{% extends "_template.html.twig" %}

{% block title %} {{article.titre}} {% endblock %}

{% block content %}
    <section class="section px-0 py-0">
        <div class="container pt-5 pl-2 pr-2 has-background-info-light">
            <div class="columns is-centered mb-0">
                <div class="column is-three-fifths">
                    <h1 class="title has-text-primary">
                        {{ article.titre }}
                    </h1>
                    <div class="markdown_bulma">
                        {{ article.contenu|commonmark('my_custom_converter') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

